<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <!-- #authForm kiyana local reference ekata form data tika gannawa 
        submit ekedi authForm eka yawanawa ethakota .ts eken me data access karanna ahaki-->
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                type="email" 
                id="email" 
                ngModel
                name="email"
                class="form-control"
                required
                email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                type="password" 
                id="password" 
                ngModel
                name="password"
                required
                minlength="6"
                class="form-control">
            </div>
            <div>
                <button 
                class="btn btn-primary" 
                type="submit"
                [disabled]="!authForm.valid">
                {{ isLoginMode ? 'Login' : 'Sign Up'}}</button>
            &nbsp; |&nbsp;
            
                <button 
                class="btn btn-primary" 
                (click)="onSwitchMode()" 
                type="button">
                Switch to {{ isLoginMode ? 'Sign Up' : 'Login'}}</button>
            </div>
        </form>
    </div>
</div>
