<!-- href="#" kiyana eken thama server ekata request karanne eka ain kalama e request eka yanne ne
Refresh wenne ne-->
<!-- 
    (click)="onSelected()" ain kala routing dana nisa -->
    <!--[routerLink] mekata dammama router link ekataappend wenawa index eka  -->
<a
    [routerLink]="['/recipes',index]"
    routerLinkActive="active"
    style="cursor: pointer;"
    class="list-group-item clearfix">

     <div class="pull-left">
        <!-- String interpolation eken thama data bind karanne -->
        <h4 class="list-group-item-heading">{{recipe.name}}</h4>
        <p class="list-group-item-text">{{recipe.description}}</p>
    </div>

    <span class="pull-right">
        <!-- This is string interpolation
        src="{{recipes.imagePath}}" -->
                
        <!-- This is property binding  
        [src]="recipes.imagePath";-->

        <img 
            src="{{recipe.imagePath}}"
            alt="recipe.name" 
            class="img-responsive" 
            style="max-height: 50px;max-width: 50px;"> 
    </span>         
</a>