<!-- <p>recipes works!</p> -->
<div>
    <div class="col-md-5">
        <!-- event Emitter eken -->
        <!-- <app-recipes-list 
        (recipeWasSelected)="selectedRecipe = $event"></app-recipes-list> -->

        <!-- Recipe service eken -->
        <app-recipes-list></app-recipes-list>
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
        <!-- <app-recipes-detail
        *ngIf="selectedRecipe; else inforText"
        [selectedRecipeDetail]="selectedRecipe"></app-recipes-detail>
        <ng-template #inforText>
            <p>Please select a Recipe..!</p>
        </ng-template> -->
    </div>
</div>
