<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
    <!-- me container eke dala tyna nisa thama content eka tikak madata awilla tynne
    eka ain kalama me tika full page ekema pennanawa -->
    <div class="row">
        <div class="col-md-12">
            <app-recipes *ngIf="featureSelected === 'recipe'"></app-recipes>
            <app-shopping-list *ngIf="featureSelected !== 'recipe'"></app-shopping-list>
        </div>
    </div>
</div>

<!-- <app-assignment32></app-assignment32> -->
<!-- <app-cross-component></app-cross-component> -->
<!-- <app-assignment32></app-assignment32> -->
<!-- <app-optionalassignment></app-optionalassignment> -->
<!-- <app-ngforandnfifrecap></app-ngforandnfifrecap> -->
<!-- <app-ngclassandngstylerecap></app-ngclassandngstylerecap> -->
<!-- <app-service-dependency-injection></app-service-dependency-injection> -->

<!-- <app-services-dependency-injection-assignment></app-services-dependency-injection-assignment> -->
